.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

/* New styles for DisplayData component */
.display-data {
	padding: 20px;
	margin: 20px auto;
	max-width: 800px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.display-data h2 {
	margin-top: 20px;
	font-size: 1.8em;
	color: #333;
	border-bottom: 2px solid #ddd;
	padding-bottom: 10px;
}

.data-row {
	margin: 15px 0;
}

.data-row p {
	font-size: 1em;
	color: #555;
	margin: 0 10px;
	/* Add spacing between label and value */
}

.previous-standards {
	margin-top: 30px;
}

.standard-details {
	padding: 15px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #fff;
}

.standard-heading {
	font-size: 1.2em;
	color: #333;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}

.standard-data {
	font-size: 1em;
	color: #555;
	margin: 0 10px;
}

.standard-details p {
	margin: 5px 0;
}

@media (max-width: 768px) {
	.display-data {
		padding: 10px;
	}

	.display-data h2 {
		font-size: 1.5em;
	}

	.data-row p {
		font-size: 0.9em;
	}

	.standard-details {
		padding: 10px;
		margin-bottom: 8px;
	}

	.standard-heading {
		font-size: 1.1em;
	}

	.standard-data {
		font-size: 0.9em;
	}
}

@media (max-width: 480px) {
	.display-data {
		padding: 5px;
	}

	.display-data h2 {
		font-size: 1.2em;
	}

	.data-row p {
		font-size: 0.8em;
	}

	.standard-details {
		padding: 8px;
		margin-bottom: 5px;
	}

	.standard-heading {
		font-size: 1em;
	}

	.standard-data {
		font-size: 0.8em;
	}
}